@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Regular.eot');
    src: url('AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
        url('AvenirNext-Regular.woff2') format('woff2'),
        url('AvenirNext-Regular.woff') format('woff'),
        url('AvenirNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

