@font-face {
    font-family: 'Avenir Next';
    src: url('BBSans-Regular.eot');
    src: url('BBSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('BBSans-Regular.woff2') format('woff2'),
        url('BBSans-Regular.woff') format('woff'),
        url('BBSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

